body{
	background-image: url('bimage4.png');
	background-repeat: no-repeat;
	background-attachment: fixed;
 	background-size: cover;
}
p{ 
	color: white;
 	border: 2px solid DarkRed;
}
a:link{
	color: grey;
}
a:visited{
	color: yellow;	
}
a:hover{
	color: green;
}
table,th{
	border: 2px solid darkgreen
}